* {
  box-sizing: border-box;
}

body, ul, header, h1 {
  margin: 0;
  padding: 0;
}

body {
  top: 0;
  font-family: 'Roboto', sans-serif ;
}

li {
  list-style: none;
}

header {
  width: 100%;
  background-color: #2e7d32;
  color: #fff;
  height: 53px;
  line-height: 53px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
  margin-bottom: 20px;
}

.shelf {
  margin-top: 20px;
}

.shelf h2 {
  text-align: left;
  margin: 0 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: flex-start;
}

.book-list li {
  padding: 10px 30px;
}

.book {
  width: 140px;
}

.book-top {
  position: relative;
  height: 200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 10px;
}

.book-cover {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
  width: 93%;
  max-height: 200px;
}

.book-info {
  font-size: 0.8em;
  text-align: left;
}

.book-author {
  color: #999;
}

.book-author p {
  margin: 0;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/plus.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

.search .book-list{
  margin-top: 40px;
}

.search-bar {
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
}

.search-bar form {
  width: 100%;
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

@media (max-width: 414px) {
  .book-list {
    justify-content: center;
  }
}
