body, ul, header, h1 {
  margin: 0;
  padding: 0;
}

body {
  top: 0;
  font-family: sans-serif;
}

li {
  list-style: none;
}

header {
  width: 100%;
  background-color: #64eaba;
  padding: 18px 0;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.book {
  margin: 10px 30px;
  height: 250px;
  display: flex;
  flex-basis: auto;
  align-items: flex-end;
}

.book-cover {
  max-height: 200px;
}

.book-info {
  height: 50px;
  width: 200px;
}
